*.gz
.*.swp
.DS_Store
.bundle
.rvmrc
.ruby-version
.ruby-gemset
.ruby-version
.ruby-gemset
.idea/
log/*.log
tmp/
doc/
.sass-cache/
public/system/*
public/ckeditor_assets/*
public/sitemap*
public/sitemap.xml
public/*sitemap.xml
